@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
}