/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
  .link-developer {
    right: auto;
    left: 50%;
    bottom: 25px;
    transform: translate(-50%, 0);
    text-align: center;
  }
}
@media only screen and (max-width: 1530px) {
  footer .phone {
    font-size: 30px;
  }
  .footer-box {
    padding: 32px;
  }
  .footer-box-map {
    padding: 16px;
  }
  .author-box {
    padding: 32px;
  }
  .nav-tabs .nav-link.active .svg-icon {
    transform: rotate(-45deg);
  }
  .projects-wrapper {
    padding: 32px 32px 8px;
  }
  .form-callback, .team-slider {
    padding: 32px;
  }
  .team-slider .slick-list {
    margin: 0 -16px;
  }
  .team-slider .slick-slide {
    padding: 0 16px;
  }
  h1, .h1 {
    font-size: 75px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  .menu .svg-icon-arrow {
    right: 10px;
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 1400px) {
  .author-box-column {
    width: 100%;
  }
  .tab-content > .tab-pane {
    display: block;
    opacity: 1;
  }
  .nav-tabs {
    display: none;
  }
  .accordion-header {
    display: block;
  }
  .collapse:not(.show) {
    display: none;
  }
  .author-box-column.w-67, .author-box-column.w-33 {
    width: 100%;
  }
  .form-callback [type=submit] {
    margin: 24px 0 0;
  }
  .team-wrapper .author-box-title .box-text {
    max-width: none;
    margin: 0;
  }
  .team-wrapper .author-box-column.w-33 {
    order: 1;
    border: none;
    border-top: 1px solid #d3d3d2;
  }
  .team-slider {
    padding-top: 116px;
  }
  .team-slider .slick-prev {
    left: auto;
    right: 108px;
    top: 32px;
    bottom: auto;
  }
  .team-slider .slick-next {
    right: 32px;
    top: 32px;
    bottom: auto;
  }
  .team-slider__nav {
    display: none;
  }
  .architectural {
    overflow-x: hidden;
  }
  .box-sticky {
    position: relative;
    top: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .footer-box {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .map {
    height: 312px;
  }
  .phone {
    font-size: 20px;
  }
  .btn-burger {
    margin: 0 0 0 32px;
  }
  h1 {
    margin: 0 0 32px;
  }
  .home {
    background: transparent;
  }
  .home::before {
    display: none;
  }
  .home-content {
    background: url("../img/home-bg-mob.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .home-content:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 31, 0.4);
  }
  .home-content .container {
    padding: 440px 24px 0;
  }
  .nav-menu {
    background: #21211f;
  }
  .nav-menu .container {
    padding: 0 24px 80px;
  }
  .menu {
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
  .menu .nav-item {
    flex: none;
    width: 100%;
    min-height: auto;
    margin: 0 0 -1px;
  }
  .menu .nav-item:last-child {
    margin: 0;
  }
  .menu .nav-item:hover .nav-item__box {
    background: #21211f;
  }
  .menu .nav-item__box {
    height: auto;
    padding: 32px 32px 92px;
  }
  .menu .nav-item__box:hover, .menu .nav-item__box:focus {
    background: #21211f;
  }
  .menu .nav-item__box:hover .svg-icon-arrow, .menu .nav-item__box:focus .svg-icon-arrow {
    transform: none;
    bottom: 23px;
  }
  .menu .svg-icon-arrow {
    width: 86px;
    height: 101px;
    bottom: 20px;
    right: 25px;
    transform: rotate(-45deg);
  }
  .menu .menu-hover {
    opacity: 1;
  }
}
@media only screen and (max-width: 992px) {
  .menu-header {
    display: none;
  }
  header .phone {
    display: none;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  h1, .h1 {
    font-size: 60px;
    line-height: normal;
  }
}
@media only screen and (max-width: 768px) {
  .container-decor {
    padding: 80px 24px;
  }
  footer .container-decor {
    padding: 80px 24px 150px;
  }
  .repair-box {
    flex-direction: column;
    align-items: flex-start;
  }
  .repair-box__text {
    width: 100%;
    padding: 32px 0 0;
  }
  .author-wrapper .box-text p {
    margin: 0 0 24px;
  }
  .author-wrapper .box-text p:last-child {
    margin: 0;
  }
  .repair-step .box-text p {
    margin: 0;
  }
  .team-slider {
    padding-right: 0;
  }
  .team-card {
    width: 285px;
  }
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 44px;
    line-height: 48px;
  }
  h1::before {
    top: 7px;
  }
  h1:after {
    bottom: 7px;
  }
  h2 {
    font-size: 28px;
  }
  h2 sup {
    font-size: 20px;
  }
  h3 {
    font-size: 24px;
  }
  footer .phone {
    font-size: 28px;
  }
  .mb-48 {
    margin-bottom: 24px;
  }
  .projects-slider {
    height: 240px;
  }
  .projects-card__body {
    flex-direction: column;
    align-items: flex-start;
  }
  .projects-card__body .link {
    margin: 12px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  h1, .h1 {
    font-size: 40px;
    line-height: normal;
  }
}
@media only screen and (max-width: 420px) {
  footer .phone {
    font-size: 24px;
  }
  .footer-box {
    padding: 16px;
  }
  .author-box {
    padding: 24px;
  }
  .repair-step__number {
    font-size: 40px;
    min-width: 80px;
  }
  h1, .h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 21px;
  }
  h2 sup {
    font-size: 16px;
  }
  h3 {
    font-size: 20px;
  }
  .accordion-button {
    font-size: 18px;
    padding: 6px 10px 6px 24px;
  }
  .accordion-button .svg-icon {
    width: 37px;
    height: 44px;
    min-width: 37px;
  }
}
@media only screen and (max-width: 370px) {
  footer .phone {
    font-size: 20px;
  }
  body {
    font-size: 16px;
    line-height: normal;
  }
  .list-social a {
    width: 54px;
    height: 54px;
    min-width: 54px;
    padding: 12px;
  }
  .repair-box__img {
    width: 200px;
    height: 200px;
    min-width: 200px;
  }
  h1, .h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  .author-box {
    padding: 16px;
  }
  .title-decor {
    padding: 0 0 24px;
  }
  .form-callback {
    padding: 16px;
  }
  .team-slider {
    padding: 116px 16px 16px 16px;
  }
  .team-slider .slick-next {
    right: 16px;
  }
  .team-slider .slick-prev {
    right: 86px;
  }
  .team-card {
    width: 100%;
  }
}