@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNext-DemiBold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 20px;
  min-width: 320px;
  position: relative;
  line-height: 21px;
  font-family: "AvenirNextCyr", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #21211f;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: "AvenirNextCyr", sans-serif;
  border: 1px solid #7a7a7a;
  border-radius: 0;
  width: 100%;
  height: 52px;
  background: transparent;
  color: #21211f;
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #fff;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #fff;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 24px;
}
label:last-child {
  margin: 0;
}

.form label {
  position: relative;
}
.form label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transition: 0.3s ease;
}
.form label:hover::before {
  height: 100%;
}
.form label:hover input {
  color: #21211f;
}
.form label:hover input::-moz-placeholder {
  color: #21211f;
}
.form label:hover input::placeholder {
  color: #21211f;
}
.form [type=submit] {
  margin: 24px 0 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "AvenirNextCyr", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 32px;
  font-size: 18px;
  font-family: "Geologica", sans-serif;
  font-weight: light;
  text-transform: uppercase;
  height: 52px;
  border-radius: 0;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}
.btn .svg-icon {
  position: absolute;
  z-index: -1;
  right: -25px;
  top: -17px;
  width: 38px;
  height: 21px;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -18px;
  top: -20px;
  width: 39px;
  height: 44px;
  transform: rotate(45deg);
  background: url("../img/arrow-btn.svg") no-repeat center;
  background-size: 100%;
}

.btn-white {
  background: #fff;
  color: #21211f;
}
.btn-white .svg-icon {
  stroke: #fff;
}
.btn-white:hover {
  background: #ccd192;
  color: #21211f;
}
.btn-white:hover .svg-icon {
  stroke: #ccd192;
}
.btn-white:focus {
  background: #fff;
  color: #21211f;
}
.btn-white:focus .svg-icon {
  stroke: #fff;
}
.btn-white.disabled, .btn-white:disabled {
  background: #fff;
  color: #21211f;
  opacity: 0.5;
}
.btn-white.disabled .svg-icon, .btn-white:disabled .svg-icon {
  stroke: #fff;
}

.btn-burger, .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  min-width: 52px;
  border: 1px solid #fff;
  fill: #fff;
}
.btn-burger svg, .btn-close svg {
  width: 20px;
  height: 14px;
}
.btn-burger:hover, .btn-close:hover {
  background: #ccd192;
  border-color: #ccd192;
  fill: #fff;
}
.btn-burger:focus, .btn-close:focus {
  background: #21211f;
  border-color: #21211f;
  fill: #fff;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1, .h1 {
  width: 100%;
  text-transform: uppercase;
  font-size: 85px;
  font-family: "Unbounded", sans-serif;
  font-weight: normal;
  line-height: 91px;
  letter-spacing: 2%;
  margin: 0;
}

h1 {
  margin: 0 0 24px;
  position: relative;
  z-index: 1;
}
h1 span {
  display: block;
}
h1::before, h1:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.3);
  width: 2000px;
  height: 1px;
}
h1::before {
  top: 13px;
}
h1:after {
  bottom: 13px;
}

h2, .h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 40px;
  font-family: "Unbounded", sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 2%;
  margin: 0;
}
h2 sup, .h2 sup {
  font-size: 24px;
}

h3, .h3 {
  width: 100%;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Unbounded", sans-serif;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 2%;
  margin: 0;
}

.title-decor {
  position: relative;
  z-index: 1;
  padding: 0 0 30px;
}
.title-decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 6px;
  background: #ccd192;
}

.box-text p {
  margin: 0 0 16px;
}
.box-text p:last-child {
  margin: 0;
}

.text-decoration {
  text-decoration: underline;
}

.link {
  color: #000;
}
.link:hover {
  color: #ccd192;
}

.color-accent {
  color: #ccd192;
}

a.color-accent:hover {
  color: #ccd192;
  text-decoration: none;
}

.bg-light-gray {
  background: #fafafa;
}

.container {
  max-width: 1537px;
  padding: 0 24px;
}

.container-decor {
  position: relative;
  z-index: 1;
  padding: 120px 24px;
}
.container-decor::before, .container-decor:after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.container-decor::after {
  right: 24px;
}
.container-decor:before {
  left: 24px;
}

.container-decor-dark::before, .container-decor-dark:after {
  background: #d3d3d2;
}

.row {
  margin: 0 -24px;
}
.row > * {
  padding: 0 24px;
}

.p-120 {
  padding: 120px 0;
}

.mb-48 {
  margin-bottom: 48px;
}

.content-decor-line {
  position: relative;
  z-index: 1;
}
.content-decor-line::before, .content-decor-line:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background: #d3d3d2;
  width: 2000px;
  height: 1px;
}
.content-decor-line::before {
  top: 0;
}
.content-decor-line:after {
  bottom: 0;
}

.section-hidden {
  overflow: hidden;
}

.nav-tabs {
  width: 100%;
}
.nav-tabs .nav-item {
  width: 100%;
}
.nav-tabs .nav-link {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d2;
  border-radius: 0;
  text-align: left;
  text-transform: uppercase;
  font-family: "Unbounded", sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 9px 10px 9px 48px;
  min-height: 126px;
  color: #21211f;
}
.nav-tabs .nav-link .svg-icon {
  width: 70px;
  height: 83px;
  min-width: 70px;
  transform: rotate(-45deg);
  stroke: #21211f;
  transition: 0.3s ease;
  margin-left: auto;
}
.nav-tabs .nav-link:hover {
  background: #ccd192;
  color: #21211f;
}
.nav-tabs .nav-link:hover .svg-icon {
  stroke: #21211f;
  transform: none;
}
.nav-tabs .nav-link.active {
  background: #21211f;
  color: #fff;
}
.nav-tabs .nav-link.active .svg-icon {
  stroke: #fff;
  transform: none;
}

.tab-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 14px;
  stroke: #fff;
  background: rgba(33, 33, 31, 0.4);
  bottom: 24px;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #ccd192;
}

.slick-prev {
  left: 24px;
}

.slick-next {
  right: 24px;
}

.slick-arrow-dark {
  background: transparent;
  border-color: #21211f;
  stroke: #21211f;
}

.slider-nav {
  display: flex;
  align-items: center;
}
.slider-nav .slick-arrow {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 24px 0 0;
}
.slider-nav .slick-arrow:last-child {
  margin: 0;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}