/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)

@media only screen and (max-width: 992px)

@media only screen and (max-width: 768px)

@media only screen and (max-width: 576px)
  h1
    font-size: 44px
    line-height: 48px

  h2
    font-size: 28px

  h3
    font-size: 24px    

@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)	
