@import 'fonts'
@import 'vars'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 20px
  min-width: 320px
  position: relative
  line-height: 21px
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: $dark


img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content
  cursor: pointer
  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 24px
  box-sizing: border-box
  font-family: $default-font
  border: 1px solid #7a7a7a
  border-bottom-color: $white
  border-radius: 0
  width: 100%
  height: 52px
  background: transparent
  color: $white
  font-size: 20px
  line-height: normal
  cursor: pointer
  &::placeholder
    color: #595959

  &:hover, &:focus
    outline: none
    box-shadow: none

input[type="radio"], input[type="checkbox"]
  width: auto
  height: auto
  appearance: auto
  margin: 0 5px 0 0
  display: inline

label
  display: block
  width: 100%
  margin: 0 0 24px

  &:last-child
    margin: 0

textarea
  resize: none
  padding: 12px 17px
  height: 103px

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
  border-radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 10px 45px
  font-size: 16px
  font-weight: bold
  height: 46px
  border-radius: 10px
  transition: 0.3s ease

.btn-burger, .btn-close
  @include d-flex
  width: 52px
  height: 52px
  min-width: 52px
  border: 1px solid $white
  fill: $white
  svg
    width: 19px
  &:hover
    background: $accent
    border-color: $accent 
    fill: $white 
  &:focus
    background: $dark
    border-color: $dark 
    fill: $white   

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.list-dots
  list-style-type: disc

h1, .h1
  width: 100%
  text-transform: uppercase
  font-size: 85px
  font-family: $title-font
  font-weight: normal
  line-height: 91px
  letter-spacing: 2%
  margin: 0

h1
  margin: 0 0 24px
  position: relative
  z-index: 1
  span
    display: block
  &::before, &:after
    content: ''
    position: absolute
    left: 50%
    transform: translate(-50%,0)
    background: $white-30  
    width: 2000px
    height: 1px
  &::before
    top: 0
  &:after
    bottom: 0  
    

h2, .h2
  width: 100%
  text-transform: uppercase
  font-size: 40px
  font-family: $title-font
  font-weight: normal
  line-height: normal
  letter-spacing: 2%
  margin: 0

h3, .h3
  width: 100%
  text-transform: uppercase
  font-size: 24px
  font-family: $title-font
  font-weight: normal
  line-height: normal
  letter-spacing: 2%
  margin: 0

.box-text
  p
    margin: 0 0 16px
    &:last-child
      margin: 0

.text-decoration
  text-decoration: underline

.link
  color: #000
  &:hover
    color: $accent

.color-accent
  color: $accent

a.color-accent  
  &:hover
    color: $accent
    text-decoration: none  

.bg-light-gray
  background: $light-gray    

.container
  max-width: 1537px
  padding: 0 24px
  position: relative
  z-index: 1
  &::before, &:after
    content: ''
    position: absolute
    top: 0
    width: 1px
    height: 100%
    background: $white-30
  &::after
    right: 24px
  &:before
    left: 24px

.row
  margin: 0 -24px
  >*
    padding: 0 24px    

.p-120
  padding: 120px 0

// slick slider
.slick-slider
  width: 100%

.slick-slide
  outline: none

//checkbox my
.label-checkbox
  position: relative
  display: flex
  align-items: flex-start
  color: rgba(255, 255, 255, 0.5)
  font-size: 14px
  margin: 15px 0 0
  line-height: 1.14

.inp-check
  display: none

.checkbox-custom
  margin: 0 12px 0 0
  position: relative
  border-radius: 6px
  background-color: #fff
  width: 16px
  height: 16px
  min-width: 16px
  cursor: pointer

.inp-check:checked ~ .checkbox-custom
  background: #fff url("../img/check-black.svg") no-repeat center
  background-size: 8px
//checkbox my end
